################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ide
*.dll
*.pdb
obj/
bin/
.vs/
*.jfm
*.dbmdl
*.dtbcache